
<ion-content *ngFor="let competizione of competizioni" >
            <ion-card class="card-container">
              <ion-grid>
                <!-- Immagine circolare -->
                <ion-row class="ion-align-items-center ion-justify-content-center">
                  <ion-col size="auto">
                    <div class="round-image">
                      <img src="{{competizione.logo}}" alt="Immagine">
                    </div>
                  </ion-col>
                </ion-row>
                <!-- Scritta -->
                <ion-row class="ion-align-items-center ion-justify-content-center">
                  <ion-col size="auto">
                    <h1 class="text-center">{{competizione.name}}</h1>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p>
                      {{competizione.descrizione}}
                    </p>
                  </ion-col>
                </ion-row>
                <!-- Bottone -->
                <ion-row class="ion-align-items-center ion-justify-content-center">
                  <ion-col size="auto">
                    <ion-button (click)="goToCampionato">Stagione 2023/2024</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center ion-justify-content-center">
                  <ion-col size="auto">
                    
                  </ion-col>
                </ion-row>
            </ion-grid>
      </ion-card>
</ion-content>
