<ion-header>
  <ion-toolbar>
    <ion-title>competizoni</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="goToCompetition(2)">
      <ion-thumbnail slot="start">
        <img alt="logo" src="https://play-lh.googleusercontent.com/LLsEDmSXQRRkY57Ww72cL7OyH7c-mWsh9VP1aHCi-JfbRpJcRgXXvXmiSgKc0UdNwTY" />
      </ion-thumbnail>
      <ion-label>Serie A</ion-label>
    </ion-item>

    <ion-item (click)="goToCompetition(2)">
      <ion-thumbnail slot="start">
        <img alt="logo" src="https://a1.espncdn.com/combiner/i?img=%2Fi%2Fleaguelogos%2Fsoccer%2F500%2F23.png" />
      </ion-thumbnail>
      <ion-label>Premier leugue</ion-label>
    </ion-item>

    <ion-item (click)="goToCompetition(3)">
      <ion-thumbnail slot="start">
        <img alt="logo" src="https://static.skyassets.com/contentstack/assets/bltdc2476c7b6b194dd/blt4fe9aecf494b3da0/6107d1a7365a7d358c6bd350/Bun-MAIN.jpg" />
      </ion-thumbnail>
      <ion-label>Bundesliga</ion-label>
    </ion-item>

    <ion-item (click)="goToCompetition(4)">
      <ion-thumbnail slot="start">
        <img alt="logo" src="https://b.fssta.com/uploads/application/soccer/competition-logos/LaLiga.png" />
      </ion-thumbnail>
      <ion-label>La liga</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
