<ion-header></ion-header>

<ion-content>

  <swiper-container>
    <swiper-slide *ngFor="let daymatch of days">
      <h1 class="title">{{daymatch.Giornata}}</h1>   
        <ion-list *ngFor="let match of daymatch.matches">

          <ion-card >
            <div class="logo">
              <img src="https://img.freepik.com/premium-vector/soccer-logo-team_55206-10.jpg" alt="img">
            </div>

            <span class="team-name">{{match.home.name}}</span>
            <span class="result">{{match.home_score}} - {{match.visitor_score}}</span>
            <span class="team-name">{{match.visitor.name}}</span>

            <div class="logo">
              <img src="https://img.freepik.com/premium-vector/soccer-logo-team_55206-10.jpg" alt="img">
            </div>
            
          </ion-card>
        
       
      </ion-list>
       
    </swiper-slide>
  </swiper-container>


</ion-content>