<ion-header></ion-header>

<ion-content>

  <swiper-container>
    <swiper-slide *ngFor="let daymatch of days">   
        <ion-list>
        
          <ion-card *ngFor="let match of daymatch.matchs">
            <div class="logo">
              <img src="{{match.home.image}}" alt="img">
            </div>

            <span class="team-name">{{match.home.name}}</span>
            <span class="result">{{match.home_score}} - {{match.visitor_score}}</span>
            <span class="team-name">{{match.visitor.name}}</span>

            <div class="logo">
              <img src="{{match.visitor.image}}" alt="img">
            </div>
            
          </ion-card>
        
       
      </ion-list>
       
    </swiper-slide>
  </swiper-container>


</ion-content>