<ion-header>
  <ion-toolbar>
    <ion-title>favourite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>

    <div class="header">
      <div class="image-container">
        <ion-avatar class="header-image" >
          <img src="https://img.freepik.com/premium-vector/soccer-logo-team_55206-10.jpg" alt="Immagine">
        </ion-avatar>
      </div>
      <h2 class="title">{{ team?.name }}</h2>
    </div>
    <div class="content">
      <p>
        {{team?.dettagli}}
      </p>
    </div>
    <div>
      <ion-router-outlet></ion-router-outlet>
    </div>
</ion-content>
