<ion-header>
    <ion-toolbar>
      <ion-title>
        Benvenuto nell'App di Calcio
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="welcome-message">
      <h1>Esplora il Mondo del Calcio</h1>
      <p>Scopri le ultime notizie, partite e molto altro!</p>
</div>

    <ion-button expand="full" routerLink="/list-news">Vai alle Notizie</ion-button>
    <ion-button expand="full" routerLink="/match-of-the-day">Vedi le Partite di oggi</ion-button>
    
</ion-content>